.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.header > h1 {
  margin: 1rem;
  font-size: 1rem;
}

.nav {
  display: flex;
  gap: 8px;
  font-size: 1rem;
}

.nav > a {
  display: block;
  background-color: var(--nav-bg-colour);
  padding: 4px 16px;
  text-decoration: none;
  color: var(--nav-fg-colour);
}

.nav > :global(.active) {
  background-color: var(--nav-active-bg-colour);
}

main {
  margin: 16px;
}

.inputForm > textarea {
  display: block;
  height: 20vh;
  margin: auto;
  width: 100%;
  font-family: var(--fusiologic-font);
  border: 1px solid var(--input-b-colour);
  background-color: var(--input-active-bg-colour);
  padding: 16px;
  resize: none;
}

.buttonSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: auto;
  padding: 8px;
}

.buttonSet > button {
  background-color: var(--button-bg-colour);
  border: 1px solid var(--button-b-colour);
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 8px;
  margin: 8px;
  color: black;
}

.buttonSet > button:active,
.buttonSet > button:hover {
  background-color: var(--button-active-bg-colour);
  border: 1px solid var(--button-active-b-colour);
}
