.round {
  display: block;
}

.tuti {
  color: var(--tuti-colour)
}

.round-1 {
  background-color: white;
}

.round-2 {
  background-color: lightyellow;
}

.round-3 {
  background-color: lightblue;
}

.round-4 {
  background-color: lightgreen;
}

.round-5 {
  background-color: lightpink;
}

.result {
  background-color: white;
  border: 1px solid antiquewhite;
  border-radius: 4px;
  padding: 8px;
}
