.section {
  background-color: white;
  border: 1px solid antiquewhite;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
}

.section ul {
  margin: 0;
}

.section li {
  white-space: nowrap;
}

.section {
  columns: 6;
}

@media (max-width: 900px) {
  .section {
    columns: 5;
  }
}

@media (max-width: 600px) {
  .section{
    columns: 4;
  }
}

@media (max-width: 450px) {
  .section {
    columns: 3;
  }
}

@media (max-width: 360px) {
  .section {
    columns: 2;
  }
}


.grid {
  background-color: white;
  border: 1px solid antiquewhite;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  /* font-size: 11px; */
  overflow-x: auto;
}

.grid table {
  border-spacing: 4px;
  empty-cells: show;
}

.grid table > tr td {
  background-color: whitesmoke;
}

.grid table > tr th {
  padding: 2px;
}

.grid td > span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid td > span span {
  padding: 2px;
  text-align: end;
}

.grid td > span span.found_number {
  background-color: lightpink;
  padding-right: 4px;
}
