.tuti {
  color: crimson;
}

.wordList {
  columns: 6;
}

@media (max-width: 900px) {
  .wordList {
    columns: 4;
  }
}

@media (max-width: 600px) {
  .wordList {
    columns: 3;
  }
}

@media (max-width: 450px) {
  .wordList {
    columns: 2;
  }
}

@media (max-width: 360px) {
  .wordList {
    columns: 1;
  }
}
